<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body style="background-color: #040419; max-width:1920px; min-width:480px">
<div>
  <div class='center'>
    <div class='title'>Diagnose Plant Diseases 🌿</div>
    <p style="font-size:25px">
      Use an image of a <strong>single leaf</strong> from a <strong>supported</strong> plant in the list:
      <br>Apple, Corn, Grape, Potato, Tomato, Lemon, Lime, Orange, Grapefruit, or Tangerine
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               capture='camera'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' width ='224' height='224'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' disabled onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
      <div class='search' disabled onclick='search()'>
        <button id="searchButton">Learn more</button>
      </div>
      <div>
        <button id='backbtn' type='button' disabled onclick='refreshPage()'>Back</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
