<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body style="background-image: url(https://images.unsplash.com/photo-1551970634-747846a548cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80); background-size:100% 100%;">
<div>
  <div class='center'>
    <div class='title' style="font-size:750%">Diagnose Plant Diseases 🌿</div>
    <p style="font-size:40px">
      Use an image of a <strong>single leaf</strong> from a <strong>supported</strong> plant in the list:
      <br>Apple, Bell pepper, Cherry, Corn, Grape, Peach, Potato, Strawberry, Tomato
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()' style="font-size: 40px; width: 600px; height: 100px">Select Image</button>
      <div class='upload-label' style="font-size:60px">
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' width ='224' height='224'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()' style="font-size: 40px; width: 600px; height: 100px">Analyze</button>
      </div>
      <div class='result-label' style="font-size:60px">
        <label id='result-label'></label>
      </div>
      <div class='search'>
        <button id="searchButton">Learn more</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
