.no-display {
  display: none;
}

.center {
  margin: auto;
  padding: 10px 50px;
  text-align: center;
  color: #ffffff;
}

.title {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #ffffff;
}

.content {
  margin-top: 10em;
}

.analyze {
  margin-top: 5em;
}

.upload-label {
  padding: 10px;
  color: #ffffff;
}

.result-label {
  margin-top: 0.5em;
  padding: 10px;
  color: #ffffff;
}

button.choose-file-button {
  width: 200px;
  height: 40px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #7052cb;
  color: #7052cb;
}

button.choose-file-button:hover {
  cursor: pointer;
}

button.analyze-button {
  width: 200px;
  height: 40px;
  border: solid 1px grey;
  border-radius: 2px;
  background-color: grey;
  color: #ffffff;
}

button.analyze-button:hover {
  cursor: not-allowed;
}

button:focus {
  outline: 0;
}

/* Style the submit button */
button#searchButton {
  width: 600px;
  height: 100px;
  padding: 10px;
  background: grey;
  color: white;
  font-size: 40px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

button#searchButton:hover {
  cursor: not-allowed;
}
